{{define "new"}}

<html>

<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>

    {{range .}}
    <h3>Create new GPO into <b>{{.Name}}</b></h3>
    <form method="POST" action="/save2?id={{.Id}}&name={{.Name}}">
        <label> Name:  </label><input type="text" name="name" /><br />
        <label> Source:  </label><input type="text" name="source" /><br />
        <label> Date:  </label><input type="text" name="date" /><br />
        <input type="text" name="listid" hidden="true" /><br />
        <i class="material-icons md-18"><input class="btn btn-primary" type="submit" value="add_box"></i>
        <a class="btn btn-primary" href="/" role="button"><i class="material-icons md-18">navigate_before</i></a>
    </form>
    {{end}}
</body>

</html>

{{end}}